## Sample config.env for running Weathermap in docker-compose.
## Copy this file or rename it to config.env before running!

# InfluxDB Metrics settings - this gets data rates for interface utilizations
INFLUX_METRIC_HOST=myinfluxdbserver.local
INFLUX_METRIC_USERNAME=readonlyuser
INFLUX_METRIC_PASSWORD=supersecret
INFLUX_METRIC_DATABASE=metrics
INFLUX_METRIC_MEASUREMENT=data-rate
# interval is the minimum time Weathermap should wait between queries
INFLUX_METRIC_INTERVAL=15

# InfluxDB Optics settings - this gets Optical data for interfaces
# defaults get copied from INFLUX_METRIC_*, but any value can be overridden
#   different measurement name
INFLUX_OPTIC_MEASUREMENT=optics-info
#   different/longer interval than metrics
INFLUX_OPTIC_INTERVAL=30

# InfluxDB Interface info settings - this gets interface data, including descriptions (very important!)
#   in this case these override port, database, measurement and interval over INFLUX_METRIC_* settings
INFLUX_DESC_PORT=8087
INFLUX_DESC_DATABASE=health
INFLUX_DESC_MEASUREMENT=interfaces
INFLUX_DESC_INTERVAL=300

# InfluxDB Counter settings - this gets Health data (packet loss, etc.) for interfaces
INFLUX_COUNTER_MEASUREMENT=generic-counters

# SNMPv2 Settings - much simpler than InfluxDB. You only need to define a community string and a list of SNMP devices.
SNMP_COMMUNITY=secretcommunity
SNMP_HOSTS=192.168.3.10,192.168.3.11
