INFLUX_DESC_INTERVAL=600
INFLUX_METRIC_MEASUREMENT=data-rate
INFLUX_OPTIC_INTERVAL=120
INFLUX_DESC_MEASUREMENT=interfaces
INFLUX_METRIC_INTERVAL=10
INFLUX_METRIC_DATABASE=metrics
INFLUX_COUNTER_MEASUREMENT=generic-counters
INFLUX_DESC_DATABASE=health
INFLUX_METRIC_USERNAME=CHANGEME
INFLUX_METRIC_PASSWORD=CHANGEME
INFLUX_OPTIC_MEASUREMENT=optics-info
INFLUX_METRIC_HOST=database
